.background{
    background-image: url(../images/hospital.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    height: 100%;
}